.tables{
    width: 90%;
    margin: 30px auto;
    tr{
        height: 50px;
        th{
            border: 1px solid;
            padding-left: 10px;
        }
        td{
            padding-left: 10px;
            border: 1px solid;
        }
    }
    
}